/* 
Produzido por Jonas Batista
email: jnsbatista2009@gmail.com
fone: +5548998386198 
*/

:root {
    --ampara-aspect-ratio: 16/9;
    /* COLLORS */
    --ampara-first-purple: #DDBDDF;
    --ampara-second-purple: #CDACCE;
    --ampara-third-purple: #AB74AE;
    --ampara-quarter-purple: #882F87;
    --ampara-grey: #E5E3F0;
    --ampara-first-blue: #BDCFE8;
    --ampara-second-blue: #9BB7DD;
    --ampara-third-blue: #5987C6;
    --ampara-quarter-blue: #35609D;
    /* FONTS */
    --ampara-h1: calc(1.375rem + 1.5vw);
    --ampara-h2: calc(1.325rem + 0.9vw);
    --ampara-h3: calc(1.3rem + 0.6vw);
    --ampara-h4: calc(1.275rem + 0.3vw);
    --ampara-p: calc(1rem + 0.1vw);
    --ampara-Lato-Light: 'Lato Light';
    --ampara-Lato-Italic: 'Lato Italic';
    --ampara-Lato-Regular: 'Lato Regular';
    --ampara-Sansita-Regular: 'Sansita Regular';
    /* TAMANHO DE BOTÕES */
    --ampara-width-button-web: calc( 40% / (var(--ampara-aspect-ratio)));
    --ampara-width-line-web: calc( 10% / (var(--ampara-aspect-ratio)));
}

/* FONTES  -------------------------- */

/* latin-ext */

@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato Italic';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v20/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Sansita Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sansita/v5/QldONTRRphEb_-V7LB6xTA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ---------------------------------- */

/* GENERAL */

.ampara {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.ampara .container {
    position: relative;
    margin-top: calc(4% / (var(--ampara-aspect-ratio)));
    margin-bottom: calc(4% / (var(--ampara-aspect-ratio)));
}

.ampara img {
    width: 100%;
}

.ampara section {
    margin: 2rem auto;
}

header.ampara {
    margin-bottom: calc( 16% / (var(--ampara-aspect-ratio))) !important;
}

.ampara-static-img {
    margin-bottom: 1rem;
}

/* FONT SIZE */

.ampara p {
    font-size: calc(var(--ampara-p)*1.7 / (var(--ampara-aspect-ratio))) !important;
    color: #4F4F4F;
    font-family: var(--ampara-Lato-Regular) !important;
}

.ampara .h1, h1 {
    font-size: calc(var(--ampara-h1)*2 / (var(--ampara-aspect-ratio)));
    font-family: var(--ampara-Sansita-Regular);
    color: var(--ampara-third-purple);
}

.ampara .h2, h2 {
    font-size: calc(var(--ampara-h2)*1.9 / (var(--ampara-aspect-ratio))) !important;
    color: var(--ampara-third-purple) !important;
    margin-bottom: calc( 5% / (var(--ampara-aspect-ratio)));
    font-family: var(--ampara-Sansita-Regular);
}

.ampara .h3, h3 {
    color: var(--ampara-third-purple) !important;
    font-size: calc(var(--ampara-h3)*1.8 / (var(--ampara-aspect-ratio))) !important;
    line-height: 1.8;
    margin-top: 2rem;
    font-family: var(--ampara-Sansita-Regular) !important;
}

.ampara .h4, h4 {
    font-size: calc(var(--ampara-h4)*1.7 / (var(--ampara-aspect-ratio))) !important;
    font-family: var(--ampara-Sansita-Regular);
    color: var(--ampara-third-purple) !important;
}

.ampara .h5, h5 {
    font-size: calc(var(--ampara-h4)*1.6 / (var(--ampara-aspect-ratio))) !important;
    font-family: var(--ampara-Lato-Regular);
    color: var(--ampara-third-purple) !important;
}

.ampara .h6, h6 {
    font-size: calc(var(--ampara-h4)*1.5 / (var(--ampara-aspect-ratio))) !important;
    font-family: var(--ampara-Lato-Light);
    color: #AB74AE !important;
    line-height: 1.5rem;
}

.ampara .btn-efect img {
    transition: all 0.5s;
    cursor: pointer;
}

.ampara .btn-efect img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.ampara .trilha-buttons img {
    max-width: 332px !important;
}

/* TABELA */

.ampara table {
    margin-top: 2rem;
    width: 100%;
}

.ampara th {
    font-family: var(--ampara-Lato-Regular);
    padding: 10px;
    width: auto;
    background: rgba(221, 189, 223, 1);
    line-height: 127.19%;
    vertical-align: middle;
    /* or 46px */
    color: #882F87;
}

.ampara td {
    padding: 10px;
    width: auto;
    color: #882F87;
    background: #FAFAC8;
}

.ampara tr {
    border-bottom: 2px solid #CDACCE;
}

.ampara tr:last-child, .ampara tr:first-child {
    border-bottom: none;
}

/* MOODLE FACE */

.mf-ampara img:nth-child(1) {
    position: relative;
    width: calc( 175.5% / (var(--ampara-aspect-ratio)));
    top: 0;
}

.mf-ampara a:hover {
    filter: saturate(250%);
}

.mf-ampara-m a:hover {
    filter: saturate(250%);
}

.mf-ampara a:nth-child(n+2) {
    position: absolute;
    width: calc( 40% / (var(--ampara-aspect-ratio)));
    top: 0;
}

.mf-ampara a:nth-child(2) {
    left: calc( -3% / (var(--ampara-aspect-ratio)));
    margin-top: calc( -11.2% / (var(--ampara-aspect-ratio)));
}

.mf-ampara a:nth-child(3) {
    left: calc( 17% / (var(--ampara-aspect-ratio)));
    margin-top: calc( 5.6% / (var(--ampara-aspect-ratio)));
}

.mf-ampara a:nth-child(4) {
    left: calc( 71.8% / (var(--ampara-aspect-ratio)));
    margin-top: calc( 5.8% / (var(--ampara-aspect-ratio)));
}

.mf-ampara a:nth-child(5) {
    left: calc( 127% / (var(--ampara-aspect-ratio)));
    margin-top: calc( 5.93% / (var(--ampara-aspect-ratio)));
}

.mf-ampara a:nth-child(6) {
    left: calc( 127% / (var(--ampara-aspect-ratio)));
    margin-top: calc( 38% / (var(--ampara-aspect-ratio)))
}

.mf-ampara a:nth-child(7) {
    left: calc( 71.8% / (var(--ampara-aspect-ratio)));
    margin-top: calc( 38% / (var(--ampara-aspect-ratio)))
}

.mf-ampara a:nth-child(8) {
    left: calc( 17% / (var(--ampara-aspect-ratio)));
    margin-top: calc( 38% / (var(--ampara-aspect-ratio)))
}

.mf-ampara a:nth-child(9) {
    left: calc( 17% / (var(--ampara-aspect-ratio)));
    margin-top: calc( 76.6% / (var(--ampara-aspect-ratio)))
}

.mf-ampara a:nth-child(10) {
    left: calc( 71.8% / (var(--ampara-aspect-ratio)));
    margin-top: calc( 76.6% / (var(--ampara-aspect-ratio)))
}

.mf-ampara a:nth-child(11) {
    left: calc( 127% / (var(--ampara-aspect-ratio)));
    margin-top: calc( 76.6% / (var(--ampara-aspect-ratio)))
}

/* TITULOS */

.ampara-titulo ul {
    font-family: var(--ampara-Lato-Regular);
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #AB74AE;
    background: transparent !important;
    list-style-type: disc !important;
    list-style: inside !important;
}

.ampara-titulo h4 {
    margin-top: 0 !important;
}

/* OBJETOS */

/* CITAÇÃO */

.ampara .citacao {
    width: 100%;
    height: auto;
    /* background-image: url(https://blocoa.org/cursos/draftfile.php/5/user/draft/959180202/citacao-l.png); */
    background-image: url(./images/identity/citacao-l.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    border: none;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
}

.ampara .citacao div {
    /* background-image: url(https://blocoa.org/cursos/draftfile.php/5/user/draft/959180202/citacao-r.png); */
    background-image: url(./images/identity/citacao-r.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    margin: 1rem 15px;
    padding: 2rem 0;
}

.ampara .citacao p {
    font-size: calc(var(--ampara-p)*1.8 / (var(--ampara-aspect-ratio)));
    color: var(--ampara-quarter-blue) !important;
    margin-bottom: 0;
    font-family: var(--ampara-Lato-Italic);
    padding: 20px 40px 5px 40px;
    text-align: left;
    font-weight: 400;
    margin-top: 0px !important;
}

.ampara .citacao h5 {
    color: var(--ampara-quarter-blue) !important;
    margin-bottom: 0;
    font-style: italic;
    padding: 20px 40px 5px 40px;
    font-weight: 400 !important;
    margin-top: 0px !important;
    text-align: right;
    font-size: calc(var(--ampara-p)*2 / (var(--ampara-aspect-ratio))) !important;
}

/* COMPOSIÇÃO */

.ampara .aos-pa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.ampara .aos-rw {
    position: relative;
    width: 100%;
}

/* FLIPCARD */

.ampara .card-flip-square {
    width: 100%;
    height: 0;
    /* A mágica está aqui */
    padding-bottom: 100%;
    /* ... e está aqui */
    margin: 1%;
    float: left;
    position: relative;
    margin: 1rem 0;
}

.ampara .card-flip-square>div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    margin: 0;
    display: flex;
}

.ampara .card-front-block {
    transform: rotateY(0deg);
    border-radius: 25px;
    background: #9BB7DD !important;
    padding: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

.ampara .card-front-block .card-body-centered {
    background: #9BB7DD;
    border-radius: 25px;
    border: 2px solid #BDCFE8;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ampara .card-back-block {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}

.ampara .card-back-block .card-body-centered {
    background: #5987C6;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ampara .card-body-centered>div {
    display: inline-block;
    vertical-align: middle;
    /* width: 80%; */
    margin: auto 0;
}

.ampara .card-body-centered h1 {
    color: white !important;
    /* font-size: calc(var(--ampara-h1)*2 / (var(--ampara-aspect-ratio))); */
}

.ampara .card-back-block:before, .ampara .card-front-block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ampara .card-back-block div p {
    color: white;
}

.ampara .card-flip-square:hover .card-front-block {
    transform: rotateY(-180deg);
}

.ampara .card-flip-square:hover .card-back-block {
    transform: rotateY(0deg);
}

/* FLIP CARD COM CLICK */

.ampara .animation {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ampara .pageTitle sup {
    font-size: .6em;
    color: #333;
}

.ampara .well {
    padding: 3%;
    margin: 20px auto;
    border: none;
    text-align: center;
}

.ampara .well p {
    font-weight: 300;
}

.ampara .content p {
    font-weight: 300;
}

.ampara .cardContainer {
    margin: 3%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    /*depth of the elements */
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    /*border: 1px solid #ff0000;*/
    padding-left: 1%;
}

.ampara .secondRow {
    margin-top: -1.4%
}

.ampara .ampara-card {
    width: 100%;
    height: 0;
    /* A mágica está aqui */
    padding-bottom: 100%;
    /* ... e está aqui */
    margin: 1%;
    float: left;
    position: relative;
    margin: 1rem 0;
    cursor: pointer;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 50px;
}

.ampara-card .front {
    background: #9BB7DD;
    padding: 3%;
}

.ampara-card .front .front-card-content {
    border: 2px solid #BDCFE8;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: table;
}

.ampara-card .front .front-card-content div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.ampara-card.flipped {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.ampara-card .front, .ampara-card .back {
    border-radius: 50px;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    color: white !important;
    text-align: center;
    font-size: 4em;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}

.ampara-card .front h1, .ampara-card .back h1, .ampara-card .front p, .ampara-card .back p {
    color: white !important;
}

.ampara-card .front h1, .ampara-card .back h1 {
    font-family: var(--ampara-Sansita-Regular);
}

.ampara-card .front p, .ampara-card .back p {
    font-family: var(--ampara-Lato-Regular);
}

.ampara-card .back {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 16px;
    text-align: left;
    line-height: 25px;
}

.ampara-card .back {
    background: #5987C6;
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.ampara .content {
    padding: 4%;
    width: 100%;
    height: 100%;
    display: table;
}

.ampara .back .content div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* ----------------- */

/* CARROUSEL */

.ampara .carousel dl, .ampara .carousel ol, .ampara .carousel ul {
    margin-top: 0;
    margin-bottom: 2rem;
}

.ampara .carousel-indicators li {
    width: 20px !important;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: unset !important;
    background-color: unset !important;
    background-clip: unset !important;
    border-top: unset !important;
    border-bottom: unset !important;
    opacity: .3;
}

.ampara .carousel-indicators .active {
    opacity: 1 !important;
}

.carousel-control-next, .carousel-control-prev {
    width: 1.5% !important;
}

.ampara .carousel-control-prev {
    left: 1% !important;
}

.ampara .carousel-control-next {
    right: 1% !important;
}

.ampara .carousel-inner {
    padding: 2rem calc(8% / (var(--ampara-aspect-ratio)));
}

.ampara .carousel-item .citacao div {
    margin: 1rem 0;
    padding: 2rem 0;
}

.ampara .carousel-item ul {
    list-style-type: disc !important;
    background: transparent !important;
    margin: .5rem 2rem !important;
}

.ampara .carousel-item div:first-child {
    text-align: center;
}

.ampara .carousel {
    background: #FAFAC8;
    border-radius: 25px;
}

/* DESTAQUE */

.ampara .destaque p {
    color: var(--ampara-quarter-purple) !important;
    text-align: center;
    margin-bottom: 0 !important;
}

.ampara .destaque {
    border-top: 2px solid #CDACCE;
    border-bottom: 2px solid #CDACCE;
    padding: 1rem;
}

/* CUIDADOS EM SAUDE */

.ampara .cuidados-em-saude-img img {
    width: calc(120% / (var(--ampara-aspect-ratio)));
    float: right;
}

.ampara .cuidados-em-saude-img {
    padding: calc(10% / (var(--ampara-aspect-ratio))) 0;
    /* border-right: calc(.6vh / (var(--ampara-aspect-ratio))) solid #FAFAC8; */
}

.ampara .cuidados-em-saude-content {
    padding: calc(5% / (var(--ampara-aspect-ratio)));
    border-left: calc(.6vh / (var(--ampara-aspect-ratio))) solid #FAFAC8;
}

.ampara .cuidados-em-saude-content p, .cuidados-em-saude-mob-content p {
    color: #882F87;
}

.ampara .cuidados-em-saude-content h6 {
    color: #882F87 !important;
    margin-bottom: 2rem;
}

.ampara .cuidados-em-saude-mob {
    width: 100%;
    height: auto;
    background-image: url(./images/identity/cuidados-em-saude-mob-circulo.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    border: none;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
}

.ampara .cuidados-em-saude-mob .linha-amarela-s {
    position: relative;
    background: #FAFAC8;
    height: 3px;
    top: 0;
    margin-top: 47px;
    z-index: -100;
}

.ampara .cuidados-em-saude-mob .linha-amarela-i {
    position: relative;
    background: #FAFAC8;
    height: 3px;
    top: 0;
    margin-top: 20px;
    z-index: -100;
}

.ampara .cuidados-em-saude-mob .cuidados-em-saude-mob-content {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    margin: 1rem 15px;
}

.ampara .cuidados-em-saude-mob .cuidados-em-saude-mob-content h6 {
    padding: 0 1rem 0 5rem;
    margin-bottom: 1rem;
    color: #882F87 !important;
}

/* TESTE SEUS CONHECIMENTOS */

.ampara .teste-seus-conhecimentos {
    border-radius: 25px;
    background: #FAFAC8;
    padding: 1.5rem 1rem;
}

.ampara .teste-seus-conhecimentos h4 {
    color: #882F87 !important;
}

.ampara .teste-seus-conhecimentos .teste-button {
    color: #882F87 !important;
    background: #DDBDDF;
    padding: .5rem 2rem;
    text-align: center;
    font-size: calc(var(--ampara-h4)*1.8 / (var(--ampara-aspect-ratio))) !important;
    font-family: var(--ampara-Lato-Light);
    border-radius: 50px;
}

.ampara .teste-seus-conhecimentos a.link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* PONTO DE REFLEXÃO */

.ampara .ponto-de-reflexao {
    border: 2px solid rgba(189, 207, 232, 1);
    padding: .8rem;
    border-radius: 25px;
    margin: calc(5% / (var(--ampara-aspect-ratio))) 0;
}

.ampara .ponto-de-reflexao div {
    padding: 1rem;
    border-radius: 25px;
    background: rgba(189, 207, 232, 0.8);
}

.ampara .ponto-de-reflexao p {
    color: var(--ampara-quarter-blue) !important;
}

.ampara .ponto-de-reflexao p:nth-child(1) {
    color: var(--ampara-quarter-blue);
    font-family: var(--ampara-Sansita-Regular) !important;
    font-size: calc(var(--ampara-p)*2.2 / (var(--ampara-aspect-ratio))) !important;
}

/* MODAL */

.ampara-modal {
    cursor: pointer;
    color: var(--ampara-third-purple) !important;
    text-decoration: none !important;
}

.ampara .modal-content {
    border-radius: 20px;
    color: var(--ampara-quarter-blue);
    background: var(--ampara-grey);
}

.ampara .modal-content p {
    color: var(--ampara-quarter-blue);
}

/* TABS */

/* Style the tab */

.ampara .tab {
    overflow: hidden;
    display: flex;
}

/* Style the buttons inside the tab */

.ampara .tab button {
    flex-grow: 1;
    color: white;
    float: left;
    border-style: solid;
    border-color: #CDACCE;
    border: .5px .2px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: var(--ampara-Sansita-Regular);
    font-style: italic;
    background: #DDBDDF;
}

.ampara .tablinks {
    overflow: hidden;
    color: transparent;
}

.ampara .tab>button.active {
    overflow: visible;
    color: transparent;
}

.ampara .tab button.active {
    border-color: transparent;
}

.ampara .tab button:nth-child(1) {
    border-radius: 18px 0 0 0;
}

.ampara .tab button:last-child {
    border-radius: 0 18px 0 0;
}

/* Change background color of buttons on hover */

.ampara .tab button:hover {
    background-color: #AB74AE;
}

/* Create an active/current tablink class */

.ampara .tab button.active {
    background: #AB74AE;
}

.ampara .tab h6 {
    color: #fff !important;
    margin: 0 !important;
    font-family: var(--ampara-Sansita-Regular) !important;
}

/* Style the tab content */

.ampara .tabcontent {
    display: none;
    padding: 0 6px 6px 6px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    background: #FAFAC8;
    border-radius: 0 0 18px 18px;
}

.ampara .tabcontent>div {
    padding: 6px 12px;
    border-top: none;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: #CDACCE;
    background: #FAFAC8;
    border-radius: 0 0 18px 18px;
}

.ampara .tabcontent p {
    margin: .8rem;
    color: var(--ampara-quarter-purple);
}

/* Fade in tabs */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* VIDEO */

.ampara-video-bloco {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.ampara-video-bloco>div {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    border: double 3px transparent;
    border-radius: 20px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background: #DDBDDF;
}

.ampara-video-bloco>div>iframe {
    background: #DDBDDF;
    width: 100%;
    height: 100%;
    margin: auto;
    border: double 3px transparent;
    border-radius: 20px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/* FIQUE POR DENTRO */

.ampara .fique-por-dentro-bloco {
    position: absolute;
    right: 0;
}

.ampara .fique-por-dentro {
    background: #FAFAC8;
    padding: 1rem 1rem 0.1rem 1rem;
    height: min-content;
    border-radius: 15px;
    color: #882F87 !important;
    margin: .5rem 0;
}

.ampara .fique-por-dentro p {
    color: #882F87 !important;
}

.ampara .fique-por-dentro h5 {
    margin-bottom: 1rem;
    font-family: var(--ampara-Lato-Regular);
    font-weight: bold !important;
    font-size: calc(var(--ampara-p)*1.9 / (var(--ampara-aspect-ratio))) !important;
    color: #882F87 !important;
}

/* É CIENTIFICO */

.ampara .e-cientifico-bloco {
    position: absolute;
    right: 0;
    top: 0;
}

.ampara .e-cientifico {
    background: #FAFAC8;
    padding: 1rem 1rem 0 1rem;
    height: min-content;
    border-radius: 15px;
    color: #882F87 !important;
}

.ampara .e-cientifico p {
    color: #882F87 !important;
}

.ampara .e-cientifico h5 {
    margin-bottom: 1rem;
    font-family: var(--ampara-Lato-Regular);
    font-weight: bold !important;
    font-size: calc(var(--ampara-p)*1.9 / (var(--ampara-aspect-ratio))) !important;
    color: #882F87 !important;
}

.ampara .e-cientifico .lupa {
    margin-top: -2rem;
    padding: 0 calc( 5% / (var(--ampara-aspect-ratio)));
}

/* ACCORDION */

.ampara .accordion {
    /* width: 450px; */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ampara .accordion-item {
    margin: 2rem 0;
}

.ampara .accordion-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    width: 100%;
    background: #BDCFE8 !important;
    border: none;
    outline: none;
    border-bottom: 0px solid black;
    color: #35609D;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    text-align: initial;
}

.ampara .accordion-header.active {
    background: #5987C6 !important;
    color: white;
}

.ampara .accordion-header i {
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
    /* background: url(./images/seta.svg); */
}

.ampara .accordion-header.active i {
    transform: rotate(0deg);
}

.ampara .accordion-body {
    color: #35609D;
    background-color: #E5E3F0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 0 0 25px 25px;
    margin-top: -1.3rem;
}

.ampara .accordion-body.active {
    max-height: 100rem;
    padding: 2rem 1rem 1rem 2.5rem;
}

.ampara .accordion-body ul {
    background-color: transparent;
    list-style-type: disc;
}

.ampara .seta-img img {
    width: 60%;
    vertical-align: inherit;
}

/* TRILHA DE APRENDIZAGEM */

.ampara .ampara-activate {
    color: var(--ampara-quarter-purple);
}

.ampara ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: var(--ampara-first-purple);
    font-size: calc(var(--ampara-p)*1.7 / (var(--ampara-aspect-ratio))) !important;
    color: #4F4F4F;
    font-family: var(--ampara-Lato-Regular) !important;
}

.ampara li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
    font-size: calc(var(--ampara-p)*1.5 / (var(--ampara-aspect-ratio)));
}

.ampara li a:hover {
    background-color: #111;
}

/* CONHEÇA */

.ampara-conheca h3 {
    font-family: var(--ampara-Lato-Light) !important;
}

.ampara-conheca h5 {
    font-family: var(--ampara-Sansita-Regular) !important;
    color: var(--ampara-quarter-purple);
}

.ampara-conheca ul {
    background-color: transparent;
}

.ampara-button-saturate a:hover {
    filter: saturate(250%);
}

@media (min-width: 1200px) {
    .ampara .container, .ampara .container-lg, .ampara .container-md, .ampara .container-sm, .ampara .container-xl {
        border: auto calc(100% / (var(--ampara-aspect-ratio)));
        max-width: 90% !important;
    }
}

@media (min-width: 2000px) {
    header.ampara {
        margin-bottom: calc( 10% / (var(--ampara-aspect-ratio))) !important;
    }
}