:root {

  --THEME_COLOR_MODULE_ONE_STRONG: #494170;
  --THEME_COLOR_MODULE_ONE_LIGHT: #9589a9;
  --THEME_COLOR_MODULE_ONE_SUPER_LIGHT: #FBBF09;
  --THEME_COLOR_MODULE_ONE: #70648c;
  --THEME_FONT_COLOR: #1a1a1a;

  }
  